<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMVTheaterAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <AMVTheaterAssistant.Properties.Settings>
            <setting name="pageTitleLine1" serializeAs="String">
                <value>Welcome to the AMV Theater</value>
            </setting>
            <setting name="enableTitleLine2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pageTitleLine2" serializeAs="String">
                <value />
            </setting>
            <setting name="title1Font" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="title1Size" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="title2Font" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="title2Size" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="panelInfoFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="panelInfoSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="presentersFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="presentersSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="videoInfoFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="videoInfoSize" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="upcoming1Font" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="upcoming1Size" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="upcoming2Font" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="upcoming2Size" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cssBGcolor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="cssTextColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="cssTextFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="cssTextSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="mpcAppLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="siteLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultPlayMonitor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="defaultInfoScreen" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="mpcWebPort" serializeAs="String">
                <value>13579</value>
            </setting>
        </AMVTheaterAssistant.Properties.Settings>
    </applicationSettings>
</configuration>
